In [7]:
#Python Data Analysis imports
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

#Visualisation imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

#To grab stock data
from pandas_datareader import DataReader
from datetime import datetime

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr

yf.pdr_override()

In [3]:
#We're going to analyse stock info for Apple, Google, Microsoft, and Amazon
tech_list = ['AMZN','DPZ','BTC','NFLX']

In [4]:
#Setting the end date to today
end = datetime.now()

#Start date set to 1 year back
start = datetime(end.year-1,end.month,end.day)

In [8]:
for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [10]:
BTC.head()

                 Open       High        Low      Close  Adj Close  Volume
Date
2023-02-02  92.404099  92.404099  92.404099  92.404099  90.279190      79
2023-02-03  91.900002  91.900002  91.860001  91.861801  89.749359     400
2023-02-06  91.489998  91.489998  91.403999  91.403999  89.302086     103
2023-02-07  91.449997  91.449997  91.362999  91.362999  89.262024     555
2023-02-08  91.476097  91.476097  91.476097  91.476097  89.372528    1550

In [11]:
#Basic stats for BTC Stock
BTC.describe()

,Open,High,Low,Close,Adj Close,Volume
count,251.000000,251.000000,251.000000,251.000000,251.000000,251.000000
mean,91.268550,91.298814,91.241029,91.268934,89.962716,2654.641434
std,1.119355,1.122255,1.112631,1.113660,1.185321,13111.941959
min,88.430496,88.430496,88.430496,88.430496,87.809784,1.000000
25%,90.586948,90.598003,90.573250,90.583900,89.087765,19.000000
50%,91.455002,91.489998,91.408401,91.440300,89.844795,226.000000
75%,92.095299,92.159901,92.073502,92.092999,90.705147,884.000000
max,93.264999,93.389999,93.160004,93.160004,92.820801,119712.000000